body {
  /* Este estilo será herdado */
  margin: 0;
  padding: 136px 24px 0 96px;
  background-color: #f8f8f8;
  font-family: Roboto, Arial;
}

p {
  margin: 0;
}

@media only screen and (max-width: 375px) {
  body {
    padding: 136px 24px 0 24px;
  }
}