body {
  /* Este estilo será herdado */
  margin: 0;
  /* Caso utilize a topbar, o padding-top deve ser 136px*/
  /* Se não for utilizar a topbar, o padding-top deve ser 80px */
  padding: 80px 24px 0 96px;
  background-color: #f8f8f8;
  font-family: Roboto, Arial;
}

p {
  margin: 0;
}
