.sidebar {
  position: fixed;
  left: 0;
  bottom: 0;
  top: 56px;
  background-color: #ffffff;
  width: 72px;
  z-index: 200;
  padding-top: 4px; 
}

.sidebar-link {
  height: 74px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.sidebar-link:hover {
  background-color: #ebebeb;
}

.sidebar-link img {
  height: 24px;
  margin-bottom: 6px;
}

.sidebar-link div {
  font-size: 10px;
}

@media only screen and (max-width: 375px) {
  .sidebar {
    display: none;
  }
}