.video-link,
.author-link {
  text-decoration: none;
  color: #000;
}

.thumbnail-row {
  margin-bottom: 8px;
  position: relative;
}

.thumbnail {
  width: 100%;
}

.video-title {
  margin: 0 0 10px 0;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
}

.video-info-grid {
  display: grid;
  grid-template-columns: 50px 1fr;
}

.profile-picture {
  width: 36px;
  border-radius: 50%;
}

.video-author,
.video-stats {
  font-size: 12px;
  color: #606060;
}

.video-author {
  margin-bottom: 4px;
}

.video-author:hover {
  color: #000;
}

.video-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 16px;
  row-gap: 40px;
}

.video-time {
  font-size: 12px;
  font-weight: 500px;
  padding: 4px;
  border-radius: 2px;
  background-color: #000000;
  color: #ffffff;
  position: absolute;
  bottom: 8px;
  right: 5px;
}

@media only screen and (min-width: 300px) {
  .video-grid {
    grid-template-columns: 1fr;
  }
}

@media only screen and (min-width: 545px) {
  .video-grid {
    grid-template-columns: 1fr 1fr;
  }
}

@media only screen and (min-width: 870px) {
  .video-grid {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media only screen and (min-width: 1130px) {
  .video-grid {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

@media only screen and (min-width: 2120px) {
  .video-grid {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  }
}